@import "tailwindcss";

body {
  background: linear-gradient(
    135deg,       /* زاویه gradient مشابه to-br */
    #1f2937,      /* from-gray-900 */
    #374151,      /* via-gray-800 */
    #1f2937       /* to-gray-900 */
  );
  background-size: cover;
  background-repeat: no-repeat;
}